{:manifest/version 1,
 :project
 {:id "ol.dirs",
  :coord "com.outskirtslabs/dirs",
  :description
  "A 0-dependency implementation of XDG base directories, systemd unit directories, Windows Known Folder paths, and macOS standard directories for Clojure, ClojureScript, and ClojureDart.",
  :license "EUPL-1.2",
  :platforms [:clj :cljs :cljd],
  :status :maturing,
  :created "2026-03-12",
  :version "0.1.0"},
 :docs
 {:component "ol.dirs",
  :title "ol.dirs",
  :version "next",
  :prerelease true,
  :start-path "doc"},
 :repo {:url "https://github.com/outskirtslabs/ol.dirs"}}
